<h3>Disponibilités</h3>

<div class="row row-controls">
  <div class="col-md-9">
    <bo-availabilities-calendar #calendar
                                (onCreateEvent)="createdEvent($event)"
                                (onEventChanged)="onEventChange($event)"
                                (onEventSelected)="onEventChange($event)"
    ></bo-availabilities-calendar>
  </div>
  <div class="col-md-3">
    <button pButton type="button" label="Enregistrer" [icon]="saveButtonIcon" (click)="saveWeek()"></button>
    <button pButton type="button" label="Valider" class="p-button-success p-button-outlined"></button>
    <button pButton type="button" label="Annuler" class="p-button-danger"></button>
    <div *ngIf="selectedAvailability">
      <bo-availability-form
          [(ngModel)]="selectedAvailability"
          (ngModelChange)="changedAvailability()"
          [zones]="zones"
      ></bo-availability-form>
    </div>
  </div>
</div>
