.search-address-input-container {
  width: calc(100% - 20px);
  margin: 0 10px;
  .search-address-input {
    width: 100%;
  }
}

.searched-address{
  cursor: pointer;
  &:hover {
    color: white;
    background-color: blue;
  }
}
