<div class="p-inputgroup">
<span class="p-inputgroup-addon">
    <i class="pi pi-map-marker"></i>
</span>
<input type="text" id="user-address"
       class="search-address-input"
       pInputText
       placeholder="Entrez votre adresse"
       (input)="onSearchAddressChange($event)"
>
<button type="button" pButton pRipple label="Ok"></button>
</div>
<div>
    <ul>
        <li *ngFor="let address of availableAddresses"
            (click)="selectAddress(address)"
            class="searched-address"
        >{{address.properties.label}}</li>
    </ul>
</div>
<app-map #map></app-map>
