<h2>Calendrier</h2>
<div>
  <div class="row row-controls">
    <div class="col-md-4 d-flex justify-content-start">
      <calendar-move-control [calendar]="calendar"></calendar-move-control>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <calendar-selected-date [calendar]="calendar"></calendar-selected-date>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      <calendar-mode-control [calendar]="calendar"></calendar-mode-control>
    </div>
  </div>
  <app-calendar #calendar [events]="events"></app-calendar>
</div>
