<h4>{{resumeInfo}}</h4>

<form [formGroup]="form">
  <div class="line">
    <label>Début : </label>
    <p-calendar formControlName="start" timeOnly="true" hourFormat="24"></p-calendar>
  </div>

  <div class="line">
    <label>Fin : </label>
    <p-calendar formControlName="end" timeOnly="true" showTime="true" hourFormat="24"></p-calendar>
  </div>

  <div class="line">
    <label>Zone : </label>
    <p-dropdown formControlName="zoneId"
                [options]="zones"
                optionValue="id"
                optionLabel="name"
                [showClear]="true"
                [autoDisplayFirst]="false"
    >
      <ng-template pTemplate="selectedItem">
        <div *ngIf="selectedZone">
          <span class="pi pi-circle-on" [ngStyle]="{'color': selectedZone.color}"></span>
          {{selectedZone.name}}
        </div>
      </ng-template>
      <ng-template let-zone pTemplate="item">
        <div class="zone-item">
          <span class="pi pi-circle-on" [ngStyle]="{'color': zone.color}"></span>
          {{zone.name}}
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</form>
