<form class="container-sm">
  <div  class="form-inline">
    <div class="form-group">
      <label for="recurring-number-input">Répéter toutes les </label>
      <input type="number" id="recurring-number-input" value="1" max="9" min="1" class="form-control" >
      <select class="form-control recurring-metric">
        <option value="day">Jour</option>
        <option value="week" selected>Semaine</option>
        <option value="month">Mois</option>
      </select>
    </div>
  </div>


  <div class="list-choose-day">
    <label class="repeat-day-label">Répéter le : </label>
    <div *ngFor="let day of days" class="day-choice" [ngClass]="{'active': day.selected}" (click)="clickDay(day)">{{day.locale}}</div>
  </div>
  <div class="clearfix"></div>
  <div class="form-inline">
    <div class="form-group interval-hour-input-group">
      <label for="start-hour-input">De</label>
      <input type="time"
             class="form-control"
             id="start-hour-input"
             name="hour-start"
             (input)="onStartHourChange($event)"
             value="{{startHour}}"
      >
      <label for="end-hour-input">à</label>
      <input type="time"
             class="form-control"
             id="end-hour-input"
             name="hour-end"
             (input)="onEndHourChange($event)"
             value="{{endHour}}"
      >
    </div>
  </div>
</form>
