<table>
  <thead>
    <tr>
      <th>Lundi</th>
      <th>Mardi</th>
      <th>Mercredi</th>
      <th>Jeudi</th>
      <th>Vendredi</th>
      <th>Samedi</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let numi of [].constructor(columnSize); let i = index">
      <td *ngFor="let numj of [].constructor(7); let j = index">
        <div *ngIf="slotMatrix[j][i]">
          <p-chip  label="{{slotMatrix[j][i].start | dfnsFormat: 'hh:mm'}}"></p-chip>
        </div>
      </td>
    </tr>
  </tbody>
</table>
