$header-height: 150px;

header {
  width: 100%;
  height: $header-height;
  border: solid 1px black;
  display: flex;
  flex-wrap: wrap;


  .photo-container {
    .photo {
      height: $header-height - 2px;
    }
  }

  .description {
    flex: 1 1 auto;
    text-align: center;

    .title {
      font-size: 3rem;
    }

    .location {
      font-size: 2rem;
    }

    .name {
      font-size: 1.7rem;
    }
  }

  .logo {
    height: $header-height;
  }
}
